rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 기본적으로 모든 데이터에 대한 읽기 및 쓰기를 허용하는 규칙
    match /{document=**} {
      allow read, write: if true;
    }

    // 알림에 대한 보안 규칙 추가
    match /{document=**}/notifications/{notificationId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
